SDLFramework/SDLFramework.sdf
SDLFramework/SDLFramework.opensdf
SDLFramework/Debug/SDLFramework.exe
SDLFramework/SDLFramework/Debug/SDLFramework.tlog/CL.read.1.tlog
SDLFramework/SDLFramework/Debug/SDLFramework.tlog/CL.write.1.tlog
SDLFramework/SDLFramework/Debug/SDLFramework.tlog/SDLFramework.lastbuildstate
SDLFramework/SDLFramework/Debug/SDLFramework.tlog/cl.command.1.tlog
SDLFramework/SDLFramework/Debug/SDLFramework.tlog/link.command.1.tlog
SDLFramework/SDLFramework/Debug/SDLFramework.tlog/link.read.1.tlog
SDLFramework/SDLFramework/Debug/SDLFramework.tlog/link.write.1.tlog
SDLFramework/SDLFramework/Debug/vc120.idb
